/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

/* Removes all margins, padding and borders to start on blank slate */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Headings, logo */
h1,
h2 {
    font-family: lobster, sans-serif;
    color: #d13c3a;
}

.internal-link {
    text-decoration: none;
    font-family: lobster, sans-serif;
    color: #d13c3a;
}

/* Header */
h1 {
    text-align: center;
    font-size: 500%;
    padding-top: 5px;
}

#banner-image {
    height: 300px;
    width: 100%;
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

/* Navigation bar */
nav {
    height: 56px;
    width: 100%;
}

#three-pages-nav li {
    float: left;
    list-style-type: none;
    padding: 10px 50px;
    font-size: 180%;
}

#contest-nav {
    float: right;
    padding: 10px 50px;
    font-size: 180%;
}

/* Left hand side */
#left-main {
    float: left;
    width: 70%;
    border: black solid 1px;
}

/* Right hand side */
#right-main {
    float: right;
    width: 25%;
    border: black solid 1px;

}

aside > ul {
    list-style-type: none;
}

aside li {
    width: 100%;
    height: 120px;
    border: black solid 1px;
}

.right-link {
    float: left;
    padding: 45px 5px;
    font-size: 150%;
}

.side-image {
    height: 100px;
    width: 100px;
    float: right;
    margin: 10px;
}

#outside-image {
    background: url(../images/outside.jpg);
    background-size: cover;
}

#inside-image {
    background: url(../images/inside.JPG);
    background-size: cover;
}

#animals-image {
    background: url(../images/animals.jpg);
    background-size: cover;
}




/* clearfix solution taken from https://www.w3schools.com/css/tryit.asp?filename=trycss_align_clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }