/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

/* Global styles */

.container {
    position: relative;
    background-color: #30d1be;
}

img {
    width: 100%;
    height: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.flex-item {
    text-align: center;
    margin: 20px;
    width: 45%;
    background-color: #70d145;
}

ul {
    list-style-type: none;
}

li {
    font-size: 0.9em;
}

.clearfix {
    overflow: auto;
}

p {
    margin: 10px;
}

/* Removes all margins, padding and borders to start on blank slate */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: open-sans, sans-serif;
    font-size: 1.05em;
}

/* Images */

#img-banner {
    width: 100%;
    height: auto;
}

.img-long {
    width: auto;
    height: 120px;
    float: right;
    overflow: auto;
    padding: 5px;
}

.img-high {
    width: 120px;
    height: auto;
    float: right;
    overflow: auto;
    padding: 5px;
}

/* Flex items */

.fixed-height {
    line-height: 75px;
}

.full {
    width: 90%;
}

/* Headings, logo */
body,
.form {
    background-color: #188578;
}

h1,
h2,
h3 {
    font-family: lobster, sans-serif;
    color: #d13a3a;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    vertical-align: baseline;
    font-size: 3em;
    padding: 10px;
}

h3 {
    font-size: 1.5em;
    width: fit-content;
    margin: auto;
    background-color: #70d145;
}

.link {
    text-decoration: none;
    font-family: open-sans, sans-serif;
    color: #d13c3a;
    font-size: 1.8em;
}

/* Navigation bar and footer */
.bar {
    width: 100%;
    height: auto;
}

.nav-left a {
    float: left;
    padding: 10px 30px;
}

.nav-right {
    float: right;
    padding: 10px 30px;
}

/* Forms */
.text-input {
    width: 100%;
    height: auto;
    background-color: #70d145;
    text-align: center;
}

input[type=submit] {
    font-family: lobster, sans-serif;
    color: #d13a3a;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.5em;
    text-decoration: underline #d13c3a wavy;
    background-color: #70d145;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.form-title {
    background-color: #70d145;
    border-radius: 50px;
    margin: 10px;
}

/* Responsiveness */
.link:hover,
h1:hover,
#participate:hover {
    color: #9e2e2C;
}

.active:hover {
    text-decoration: underline #9e2e2C double;
}

#participate:hover {
    text-decoration: underline #9e2e2C wavy;
}

.active {
    text-decoration: underline #d13c3a double;
}

/* Media queries */
/* For medium screen sizes from 950px wide and down*/

@media screen and (max-width: 950px) {

    h1,
    h2 {
        font-size: 2em;
    }

    .link {
        font-size: 1.5em;
    }

    .nav-right {
        float: left;
    }

    .flex-item {
        width: 75%;
    }
}