/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

/* Clear floats after the columns */
/* from https://www.w3schools.com/css/css_float_clear.asp */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Removes all margins, padding and borders to start on blank slate */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    /* Trial change */
}

/* Headings, logo */
h1,
h2 {
    font-family: lobster, sans-serif;
    color: #d13c3a;
}

.internal-link {
    text-decoration: none;
    font-family: open-sans, sans-serif;
    color: #d13c3a;
}

.external-link {
    color: #d13c3a;
}

/* Header */
h1 {
    text-align: center;
    font-size: 500%;
    padding-top: 110px;
}

#banner-image {
    height: 200px;
    width: 100%;
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

/* Navigation bar */
#navigation {
    height: 56px;
    width: 100%;
}

#three-pages-nav {
    height: auto;
}

#three-pages-nav li {
    float: left;
    list-style-type: none;
    padding: 10px 50px;
    font-size: 180%;
}

#contest-nav {
    float: right;
    padding: 10px 50px;
    font-size: 180%;
}

/* Main */
#main {
    width: 100%;
    border: red solid 1px;
    background-color: lightblue;
}

/* Left hand side */
/* Home page */
#left-main {
    float: left;
    width: 70%;
    height: 421px;
    border: black solid 1px;
}

#article-left {
    float: left;
    width: 46%;
    height: 46%;
    margin: 2%;
    border-radius: 15px;
    border: black solid 1px;
    padding: 5px 10px;
    background-color: blue;
}

#article-right {
    float: right;
    width: 46%;
    height: 46%;
    margin: 2%;
    border-radius: 15px;
    border: black solid 1px;
    padding: 5px 10px;
}

#article-center {
    clear: both;
    width: 71%;
    height: 44%;
    margin: 2% auto;
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px 10px;
}

/* Content pages*/
.sub{
    height: 33%;
    overflow: auto;
}

.sub-left-image {
    height: 100px;
    width: 133px;
    float: left;
    margin: 10px;
    overflow: auto;
}

.sub-right-image {
    height: 100px;
    width: 133px;
    float: right;
    margin: 10px;
    overflow: auto;
}

.sub-right-text {
    float: left;
    margin: 10px;
    font-family: open-sans, sans-serif;
    color: #d13c3a;
}

.sub-left-text {
    float: right;
    margin: 10px;
    font-family: open-sans, sans-serif;
    color: #d13c3a;
}

/* Contact */
.sub-middle-image {
    float: left;
    width: 200px;
    height: 100px;
}

.sub-middle-text {
    float: left;
    margin: 10px;
    font-family: open-sans, sans-serif;
    color: #d13c3a;
}

/* Right hand side */
/* Main */
#right-main {
    float: right;
    width: 25%;
    border: black solid 1px;
}

#right-main>h2 {
    padding: 5% 25%;
    font-size: 240%;
}

#right-main>ul {
    list-style-type: none;
}

#right-main li {
    width: 100%;
    height: 120px;
    border: black solid 1px;
    background-color: lightgreen;
}

.right-link {
    float: left;
    padding: 45px 5px;
    font-size: 120%;
    font-weight: bold;
}

.side-image {
    height: 100px;
    width: 100px;
    float: right;
    margin: 10px;
}


/* Sub */
#right-sub {
    float: right;
    width: 25%;
    border: black solid 1px;
}

#right-sub>h2 {
    padding: 5px 50px;
    font-size: 240%;
}

#right-sub>ul {
    list-style-type: none;
    font-family: open-sans, sans-serif;
    color: #d13c3a;
    padding: 10px;
}

#right-sub li {
    list-style-type: none;
}

/* Contact form */
#form-title {
    font-size: 300%;
    text-align: center;
}

.contact-info {
    padding-left: 20px;
}

.text-box {
    border: black solid 1px;
}

/* Contest form */
.contest-column {
    width: 33%;
    float: left;
}

#contest {
    padding: 10px;
}

.contest-info {
    padding-left: 20px;
}

/* Footer */
#foot {
    width: 100%;
    height: 80px;
    border: black solid 1px;
}

#foot li {
    float: left;
    list-style-type: none;
    padding: 20px 50px;
    font-size: 250%;

}

#footer-links-right {
    float: right;
    padding: 22px 50px;
    font-size: 200%;
}

/* Media queries */
/* For medium screen sizes from 950px wide and down*/

@media screen and (max-width: 950px) {
    .side-image {
        float: none;
        margin: 5px;
    }
    .right-link {
        float: none;
        padding: 20px 5px;
    }
    #right-main li {
        height: 135px;
    }

    #article-left {
        float: none;
        width: 71%;
        height: 31%;
        margin: 2% auto;
        border-radius: 15px;
        border: 1px solid black;
        padding: 5px 10px;
    }
    #article-right {
        float: none;
        width: 71%;
        height: 31%;
        margin: 2% auto;
        border-radius: 15px;
        border: 1px solid black;
        padding: 5px 10px;
    }
    #article-center {
        float: none;
        width: 71%;
        height: 31%;
        margin: 2% auto;
        border-radius: 15px;
        border: 1px solid black;
        padding: 5px 10px;
    }
    #left-main {
        height: 800px;
    }

    .sub-middle-image {
        clear: both;
        float: none;
    }

}

/* Images */
#outside-image {
    background: url(../images/outside.jpg);
    background-size: cover;
}

#inside-image {
    background: url(../images/inside.jpg);
    background-size: cover;
}

#animals-image {
    background: url(../images/animals.jpg);
    background-size: cover;
}

#property1-image {
    background: url(../images/property1.jpg);
    background-size: cover;
}

#property2-image {
    background: url(../images/property2.jpg);
    background-size: cover;
}

#property3-image {
    background: url(../images/property3.jpg);
    background-size: cover;
}

#veggie1-image {
    background: url(../images/veggie1.jpg);
    background-size: cover;
}

#veggie2-image {
    background: url(../images/veggie2.jpg);
    background-size: cover;
}

#veggie3-image {
    background: url(../images/veggie3.jpg);
    background-size: cover;
}

#veggie4-image {
    background: url(../images/veggie4.jpg);
    background-size: cover;
}

#wildflower1-image {
    background: url(../images/wildflower1.jpg);
    background-size: cover;
}

#wildflower2-image {
    background: url(../images/wildflower2.jpg);
    background-size: cover;
}

#wildflower3-image {
    background: url(../images/wildflower3.jpg);
    background-size: cover;
}

#floorplan1-image {
    background: url(../images/floorplan1.jpg);
    background-size: cover;
}

#floorplan2-image {
    background: url(../images/floorplan2.jpg);
    background-size: cover;
}

#livingroom1-image {
    background: url(../images/livingroom1.jpg);
    background-size: cover;
}

#livingroom2-image {
    background: url(../images/livingroom2.jpg);
    background-size: cover;
}

#shower-image {
    background: url(../images/shower.jpg);
    background-size: cover;
}